  <!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketSpin</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header-and-footer.css">
  </head>
  <body>
      
      <header>
          <img src="../static/images/logo.png" alt="Logo" id="logo">
          <ul id="opcoes">
            <li>Início</li>
            <li>Sobre</li>
            <a href="{{ url_for('login') }}" class="login-btn">Entrar</a>
          </ul>
      </header>

      <section id="telaInicial">
        <div class="divEsquerda">
            <p id="textMarket">MARKET</p>
            <br>
            <p id="textSpin">SPIN</p>
        </div>

        <div class="divDireita">
            <img src="../static/images/tenis_de_mesa.jpg" alt="" id="imgTenis">
        </div>
      </section>

      <section class="banner">
        <h2>Eleve o nível das suas jogadas e venha para a marketspin</h2>

        <div class="produtos">
            <div class="produto">
                <img src="../static/images/madeiras.png" alt="Madeiras">
                <div>Madeiras</div>
            </div>
            <div class="produto">
                <img src="../static/images/borrachas.png" alt="Borracha">
                <div>Borrachas</div>
            </div>
            <div class="produto">
                <img src="../static/images/raquetes.png" alt="Raquetes">
                <div>Raquetes</div>
            </div>
            <div class="produto">
                <img src="../static/images/bolas.png" alt="Bolas">
                <div>Bolas</div>
            </div>
        </div>
        <h2>Encontre agora os melhores produtos para fazer suas jogadas</h2>
      </section>

      
      <div class="rodape">
        <div id="pagamento">
            <h3>Pague com</h3>
            <ul id="formasPagamento">
                <li><img src="../static/images/visa.png" alt=""></li>
                <li><img src="../static/images/mastercard.png" alt=""></li>
                <li><img src="../static/images/elo.png" alt=""></li>
            </ul>
            <img src="../static/images/pix.png" alt="">
            <img src="../static/images/picpay.png" style="margin-left: 20px;" alt="">
        </div>
        <div class="sobre">
            <h3>Sobre a MarketSpin</h3>
            <p style="width: 350px;">A melhor loja de tênis de mesa do Brasil, com produtos profissionais e atendimento especializado.</p>
        </div>

        <div class="contato">
            <h3>Fale Conosco</h3>
            <p><i class="fas fa-map-marker-alt"></i> Av. dos Campeões, 1234</p>
            <p><i class="fas fa-phone"></i> (11) 9876-5432</p>
            <p><i class="fas fa-envelope"></i> contato@marketspin.com.br</p>
        </div>

        <div id="social">
            <h3>Redes sociais</h3>
            <div class="social-icons">
                <span><img src="../static/images/facebook.png" alt=""></span>
                <span><img src="../static/images/instagram.png" alt=""></span>
                <span><img src="../static/images/x.png" alt=""></span>
            </div>
        </div>
    </div>

  </body>
  </html>
